<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/librarian">Librarian Portal</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/books">All Books</a></li>
        <li><a href="/authors">All Authors</a></li>
      </ul>
    </div>
  </div>
</nav>


<% if @authors.any?() %>
  <h1>Authors</h1>

<ul>
  <% @authors.each() do |author| %>
    <li><a href="/authors/<%= author.id %>"><%= author.first_name() %> <%= author.last_name() %></a></li>
  <% end %>
</ul>

<%else %>
  <p>No Authors Here :(</p>
<% end %>
