<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/librarian">Librarian Portal</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/books">All Books</a></li>
        <li><a href="/authors">All Authors</a></li>
      </ul>
    </div>
  </div>
</nav>
<% if @books.any?() %>
  <h1>Books</h1>

<ul>
  <% @books.each() do |book| %>
    <li><a href="/books/<%= book.id() %>"><%= book.title() %> (<i><%= book.subject() %></i>)</a></li>
  <% end %>
</ul>

<%else %>
  <p>No Books Here :(</p>
<% end %>
