<% if @books.any?() %>
  <h1>Books</h1>

<ul>
  <% @books.each() do |book| %>
    <li><a href="/books/<%= book.id() %>"><%= book.title() %> (<i><%= book.subject() %></i>)</a></li>
  <% end %>
</ul>

<%else %>
  <p>No Books Here :(</p>
<% end %>
