<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/librarian">Librarian Portal</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/books">All Books</a></li>
        <li><a href="/authors">All Authors</a></li>
      </ul>
    </div>
  </div>
</nav>

<h1>Add a Book</h1>

<form action="/books/new" method="post">

  <div class="form-group">

    <label class="form-label" for="title">Title</label>
    <input id="title" name="title" type="text" class="form-control">

    <label class="form-label" for="subject">Subject</label>
    <input id="subject" name="subject" type="text" class="form-control">

    <button name="submit" class="btn btn-info btn-block">Add</button>

  </div>
</form>


<h1>Add an Author</h1>

<form action="/authors/new" method="post">

  <div class="form-group">

<label class="form-label" for="author_first">First</label>
<input id="author_first" name="author_first" type="text" class="form-control">

<label class="form-label" for="author_last">Last</label>
<input id="author_last" name="author_last" type="text" class="form-control">

<button name="submit" class="btn btn-info btn-block">Add</button>

</div>
</form>
