<form action="/books" method="post">

  <div class="form-group">
    <button name="submit" class="btn btn-info">See all books</button>
  </div>
</form>

<form action="/authors" method="post">

  <div class="form-group">
    <button name="submit" class="btn btn-info">See all Authors</button>
  </div>
</form>

<h1>Add a Book</h1>

<form action="/books/new" method="post">

  <div class="form-group">

    <label class="form-label" for="title">Title</label>
    <input id="title" name="title" type="text" class="form-control">

    <label class="form-label" for="subject">Subject</label>
    <input id="subject" name="subject" type="text" class="form-control">

    <button name="submit" class="btn btn-info btn-block">Add</button>

  </div>
</form>


<h1>Add an Author</h1>

<form action="/authors/new" method="post">

  <div class="form-group">

<label class="form-label" for="author_first">First</label>
<input id="author_first" name="author_first" type="text" class="form-control">

<label class="form-label" for="author_last">Last</label>
<input id="author_last" name="author_last" type="text" class="form-control">

<button name="submit" class="btn btn-info btn-block">Add</button>

</div>
</form>
